

*{
    font-family: 'Times New Roman', Times, serif;
}
header {
    background: #E5E5E5;
    text-align: center;
}

h1{
    background: #C4C4C4;
    color: #005677;
    text-align: center;


}
h4{
    background: #C4C4C4;
    color: #005677;
    background-position: center;
    
}
#datos-personales {
    font-style: italic;
}

span{
    font-weight: bold;
}
footer{
    text-align: center;
    background: #005677;
    color: white;
    font-size: 20px;

}